<div class="container p-4 text-center">
<img class="img-fluid text-center" src="assets/recipe.svg" width="250px" height="250px" >
<h1 class="text-center h1 text-danger">Bem vindo(a) ao Bookreceitas</h1>


</div>