<section id="home" class="container my-4 p-4 ">
  <div class="row">
    <div class="col-12 col-lg-6 pt-5">
      <br>
      <h1 class="text-danger p-1 display-4">Bem Vindo(a) ao BookReceitas</h1>
      <p class="text-md-start h6"> <i> Um mundo de sabores, todas as suas receitas em um só app!</i></p>
      <div class="mt-5 ">

        <button class="btn btn-danger p-1 text-md-start">

          <a class="text-white btn-lg decoration-none " href="#planos">Começar</a></button>

      </div>
    </div>

      <img src="/static/img/rocket.png" alt="" srcset="">

    <div class="col-12 col-lg-6">
      <img id="rocket" src="/assets/recipe.svg" width="400px" height="400px" alt=""
        srcset="">
    </div>

  </div>
</section>
</div>
</main>


<div class="container p-4">
  <div class="row">
    <div class="col-6">
      <!-- Conteúdo do lado esquerdo -->
      <div class="text-white text-center p-3">
      <img id="rocket" src="/assets/recipe2.svg" width="400px" height="400px" alt=""
      srcset="">
      </div>
    </div>
    <div class="col-6">
      <!-- Conteúdo do lado direito -->
      <div class="text-center p-3">
      <p class="p-2 lead">
<i>O Delícias Online oferece uma maneira eficaz de guardar suas receitas. Com nossa plataforma, você pode categorizá-las facilmente por tipo de prato, dieta, ingredientes e muito mais.
</p><p class="p-2 lead"> 
 Essa funcionalidade torna simples encontrar exatamente o que você está procurando.
 seja uma refeição específica, uma dieta específica ou uma receita com ingredientes específicos.</i>
      </p>
      </div>
    </div>
  </div>
</div>
