<div class="container p-5 text-center">
<img class="img-fluid text-center" src="assets/recipe.svg" width="250px" height="250px" >
<h1 class="text-center h1 text-danger strong">Bem vindo(a) ao Bookreceitas</h1>
<p class="text-md-start h6">Um mundo de sabores, todas as suas receitas em um só app!</p>
<button class="btn btn-danger btn-lg">Começar</button>


</div>