<main class="container text-center p-1">
  <section id="home" class="container my-4 p-4 ">
    <div class="row">
      <div class="col-12 col-lg-6 pt-5">
        <br>
        <h1 id="bem-vindo" class="text-danger p-1 display-4">Bem Vindo(a) ao BookReceitas</h1>
        <p class="text-md-start h6"> <i> Um mundo de sabores, todas as suas receitas em um só app!</i></p>
        <div class="mt-5">
       
        <button class="btn btn-danger p-1 text-white text-md-start">

        <p class="h2">
        <%= link_to 'Começar', recipes_path, class: 'white-link' %>
        </p>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <img id="rocket" src="/assets/recipe.svg" width="400px" height="400px" alt="" srcset="">
      </div>

      <img src="/static/img/rocket.png" alt="" srcset="">

    </div>
  </section>

  <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
    <div class="text-white text-center p-3 d-lg-block none">
    <img id="rocket2" src="/assets/recipe2.svg" class="img-fluid none" alt="" srcset="">
    </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text p-3 ">O Delícias Online oferece uma maneira eficaz de guardar suas receitas. Com nossa plataforma, você pode categorizá-las facilmente por tipo de prato, dieta, ingredientes e muito mais.</i>
        </p>
        <p class="card-text"><small class="text-body-secondary"><i>Vamos começar?</i></small></p>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>A well-known quote, contained in a blockquote element.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>