<div class="bg-danger">
<h6 class="text-light text-center">
 <i class="p-1">Descubra um mundo de sabores, todas as suas receitas em um só lugar!  </i>
</h6>
</div>

<main class="container text-center p-1">
<div class="navbar-fixa">
<nav class="navbar bg-muted navbar-expand-lg ">
  <div class="container-fluid">

    <a class="navbar-brand" href="#"> <img width="80px" height="80px" src="assets/logo.png" class="img-fluid">
    </a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
      <p class="text-danger p-1">
      <%= link_to 'Home', root_path  %>
      </p>



      <p class="text-danger p-1">
      <%= link_to 'Receitas', recipes_path  %>
      </p>

        

        <li class="nav-item">
        <p class="text-danger p-1">
        <%= link_to 'Sobre', sobre_path %>
        </p>
        </li>
        
        <li class="nav-item">
     <p class="text-danger p-1">
        <%= link_to 'Contato', contato_path  %>
     </p>
        </ul>
      
      <div id="espaco">
      </div>
      <form class="d-flex" role="search">
        <button  class="btn btn-danger btn-lg right" type="submit">Começar</button>
      </form>

    </div>
  </div>
</nav>
</div>